
<!--Footer Section-->
<footer class = "fixed-bottom">
    <div class = "container-fluid text-center bg-light">
        <div class = "row">
            <div class = "col-sm-11 col-md-6 col-lg-4 col-xl-3 text-center">
                <h4>Get in Contact</h4>

                <p><a href = "http://nyashabryan.ga">Nyasha Bryan Katemauswa</a></p>
                <p>
                    <a href =  "https://github.com/nyashabryan"><i class="fab fa-github"></i></a>&nbsp;
                    <a href =  "https://www.facebook.com/nyashadzaishebryan.katemauswa"><i class="fab fa-facebook"></i></a>&nbsp;
                    <a href =  "mailto:nyashabryan23@gmail.com"><i class="fas fa-envelope"></i></a>&nbsp;
                </p>
            </div>
        </div>
        <p>NyashaBryan &copy; 2018. All Rights Reserved.</p>

    </div>
</footer>
